<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/slimselect.css" />
    <link rel="stylesheet" href="static/css/admin.css" />

    <!-- Favicons -->
    <link
      rel="icon"
      type="image/png"
      href="static/icon/favicon-32x32.png"
      sizes="32x32"
    />
    <link rel="apple-touch-icon" href="static/icon/favicon-32x32.png" />

    <title>FlixGo – Online Movies, TV Shows & Cinema</title>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="header__content">
        <!-- header logo -->
        <a href="home" class="header__logo">
          <img src="static/img/logo.svg" alt="" />
        </a>
        <!-- end header logo -->

        <!-- header menu btn -->
        <button class="header__btn" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- end header menu btn -->
      </div>
    </header>
    <!-- end header -->

    <!-- sidebar -->
    <div class="sidebar">
      <!-- sidebar logo -->
      <a href="home" class="sidebar__logo">
        <img src="static/img/logo.svg" alt="" />
      </a>
      <!-- end sidebar logo -->

      <!-- sidebar user -->
      <div class="sidebar__user">
        <div class="sidebar__user-img">
          <img src="static/img/user.svg" alt="" />
        </div>

        <div class="sidebar__user-title">
          <span>{{uploader[0]}}</span>
          <p>{{uploaders[1]}}</p>
        </div>

        <button class="sidebar__user-btn" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"
            ></path>
          </svg>
        </button>
      </div>
      <!-- end sidebar user -->

      <!-- sidebar nav -->
      <ul class="sidebar__nav">
        <li class="sidebar__nav-item">
          <a href="home" class="sidebar__nav-link sidebar__nav-link--active"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M10,13H3a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,20H4V15H9ZM21,2H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM20,9H15V4h5Zm1,4H14a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V14A1,1,0,0,0,21,13Zm-1,7H15V15h5ZM10,2H3A1,1,0,0,0,2,3v7a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM9,9H4V4H9Z"
              />
            </svg>
            Dashboard</a
          >
        </li>

        <li class="sidebar__nav-item">
          <a href="users.html" class="sidebar__nav-link"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12,2A10,10,0,0,0,4.65,18.76h0a10,10,0,0,0,14.7,0h0A10,10,0,0,0,12,2Zm0,18a8,8,0,0,1-5.55-2.25,6,6,0,0,1,11.1,0A8,8,0,0,1,12,20ZM10,10a2,2,0,1,1,2,2A2,2,0,0,1,10,10Zm8.91,6A8,8,0,0,0,15,12.62a4,4,0,1,0-6,0A8,8,0,0,0,5.09,16,7.92,7.92,0,0,1,4,12a8,8,0,0,1,16,0A7.92,7.92,0,0,1,18.91,16Z"
              />
            </svg>
            Users</a
          >
        </li>

        <li class="sidebar__nav-item">
          <a href="comments.html" class="sidebar__nav-link"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M20.61,19.19A7,7,0,0,0,17.87,8.62,8,8,0,1,0,3.68,14.91L2.29,16.29a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,18H8.69A7,7,0,0,0,15,22h6a1,1,0,0,0,.92-.62,1,1,0,0,0-.21-1.09ZM8,15a6.63,6.63,0,0,0,.08,1H5.41l.35-.34a1,1,0,0,0,0-1.42A5.93,5.93,0,0,1,4,10a6,6,0,0,1,6-6,5.94,5.94,0,0,1,5.65,4c-.22,0-.43,0-.65,0A7,7,0,0,0,8,15ZM18.54,20l.05.05H15a5,5,0,1,1,3.54-1.46,1,1,0,0,0-.3.7A1,1,0,0,0,18.54,20Z"
              />
            </svg>
            Comments</a
          >
        </li>

        <!-- dropdown -->
        <li class="sidebar__nav-item">
          <a
            class="sidebar__nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M21,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.32.32,0,0,0-.09,0A.88.88,0,0,0,14.05,2H10A3,3,0,0,0,7,5V6H6A3,3,0,0,0,3,9V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V18h1a3,3,0,0,0,3-3V9S21,9,21,8.94ZM15,5.41,17.59,8H16a1,1,0,0,1-1-1ZM15,19a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V9A1,1,0,0,1,6,8H7v7a3,3,0,0,0,3,3h5Zm4-4a1,1,0,0,1-1,1H10a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3V7a3,3,0,0,0,3,3h3Z"
              />
            </svg>
            Pages</a
          >

          <ul class="dropdown-menu sidebar__dropdown-menu scrollbar-dropdown">
            <li><a href="profile">Profile</a></li>
            <li><a href="register">Sign In</a></li>
            <li><a href="login">Sign Up</a></li>
          </ul>
        </li>
        <!-- end dropdown -->
      </ul>
      <!-- end sidebar nav -->
    </div>
    <!-- end sidebar -->

    <!-- main content -->
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Users</h2>


                <!-- search -->
                <form action="{{ url_for('seachByName') }}" class="header__search" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="header__search-content">
                                    <form method="post" action="{{ url_for('seachByName') }}">
                        <input
                          type="text"
                          class="search-input"
                          placeholder="Search..."
                          name="search_input"
                        />
                        <button class="search-button" type="submit">Search</button>
                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end search -->
              </div>
            </div>
          </div>
          <!-- end main title -->

          <!-- users -->
          <div class="col-12">
            <div class="catalog catalog--1">
              <table class="catalog__table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>USERNAME</th>
                    <th>COMMENTS</th>
                    <th>CRAETED DATE</th>
                  </tr>
                </thead>

                <tbody>
                  {%for user in users%}
                  <tr>
                    <td>
                      <div class="catalog__text">user[0]</div>
                    </td>
                    <td>
                      <div class="catalog__user">
                        <div class="catalog__avatar">
                          <img src="static/img/user.svg" alt="" />
                        </div>
                        <div class="catalog__meta">
                          <h3>user[1]</h3>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="catalog__text">user[2]</div>
                    </td>
                    <td>
                      <div class="catalog__text">{{getcommentsNumber()}}</div>
                    </td>
                    <td>
                      <div class="catalog__text">{{user[4]}}</div>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
          <!-- end users -->
        </div>
      </div>
    </main>
    <!-- end main content -->

    <!-- JS -->
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/smooth-scrollbar.js"></script>
    <script src="static/js/slimselect.min.js"></script>
    <script src="static/js/admin.js"></script>
  </body>
</html>
